*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: white;
    font-family: "Poppins";
    scroll-behavior: smooth;
    }
    html, body {
        padding:0;
        margin:0;
    }    

nav {
    position: fixed;
    height: 50px;
    padding: 15px;
    width: 100%;
    background-color: black;

    }

ul {
    text-align: center;
    height: 100%;
    }

li {
    display: inline-block;
    width: 24%;
    top: 15px;
    font-size: 20px;
    }

div {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: row;
    }   

.banner img {
    width: 50%;
    display: inline-block;
    }

article {
    min-height: 100%;
    width: 50%;
    display: inline-block;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    }  
h1 {
    font-family: "Playfair Display";
}
