@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
section.forecast {  }  /* show the 10-day forecast with the medium view and up */
#top, #middle, #bottom {
    width: 0px;
    height: 0px;
    background-color: white;
    margin: 0px ;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
header h1 { 
    font-size: 30px;
    margin: 0px;
    }
header img {
    width:70px;
    height:38px;
    }
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #555;
    height: 30px;
    font-size: 18px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
nav ul li {
    color: white;
    padding: 5px;
    }
nav ul li a {
    color: white;
    margin: 5px;
    }
/*nav ul li a {
    height: 60px;
    color: white;
    padding: 10px;
    margin: 0;
    }*/
nav ul li.active a{
    background-color: black;
    color: white;
    
}   
nav ul li a:hover {
    padding: 0px;
    background-color: black;
    color: orange;
}
main {
    text-align: left;
    padding-left:60px;   
    }
#lightning {
    max-height: 400px;
    width: 400px;
    }
forecast {
    visibility: visible;
}

table{
    max-width: 100%;
    padding: 0;
    margin: 0;
    }
tr th {
    border: 1px solid black;
    padding: 5px;
    margin: 0;
    }
tr td {
    border: 1px solid black;
    padding: 12px;
    margin: 0;
    }
.zxc {
    display: none;
    }
.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns:50% 50%;
    }
#qwe, #asd, #zxc {
    width: 80%;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    }
.grid {
    border: 1px solid rgb(0,95,107); 
    border-radius: 3px;
    padding-left: 10px;
    
    }
}